<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Medidas</title>
    <link rel="stylesheet" href="./../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Início</a></li>
                <li><a href="colher.html">Colher para ml/g</a></li>
                <li><a href="temperatura.html">Temperatura</a></li>
                <li><a href="comprimento.html">Comprimento</a></li>
                <li><a href="peso.html">Peso</a></li>
            </ul>
        </nav>
    </header>

    <section id="banner">
        <img src="./../../imagemfundo.webp" alt="Conversor de Medidas" />
        <div id="banner-content">
            <h1>Conversor de Medidas</h1>
            <p>Facilite suas receitas com o nosso conversor de medidas, especialmente para a cozinha!</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Conversor de Medidas. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
